
.big-category {
  background: $main_color_liter-dark;
  box-shadow: $mid_shadow;
  color: $main_color_white;
  padding: 25px;
  transition: all 0.15s ease-in-out 0s;

  &:hover {
    transform: translateY(-10px);
    border-left: 5px solid $main_color;
    box-shadow: 0px 0px 30px black;
  }

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-bottom: 10px;
  }

  &__title {
    margin-left: 25px;
    h2{
      text-align: start;
    }
  }

  &__description {
    margin-bottom: 20px;
  }

  &img-block {
    max-width: 45px;
    max-height: 45px;
    overflow: hidden;
    @include typical_flex;
  }

  &__img {
    max-width: 45px;
    height: auto;
    align-self: flex-start;
  }

}

.small-categories {
  a {
    padding-right: 5px;
    margin-right: 10px;
    line-height: 30px;
    border-right: 2px solid $main_color_white;
  }
}