//footer tag
footer {
  margin-top: auto;
}

//only for IE 10-11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  footer {
    margin-top: 100%;
  }
}


//footer class
.footer {
  background: $main_color_dark;
  @include typical_flex;
  justify-content: center;
  align-items: center;
  box-shadow: $sm_shadow;

  &__text {
    color: $main_color_white;
    line-height: 50px;
  }
}