//colors
$main_color: #007bff;
$main_color_rgba: rgba(0, 123, 255, 0.5);

$main_color_dark: #262626;
$main_color_liter-dark: #343434;
$main_color_white: #ffffff;

//shadows
$sm_shadow: 0px 0px 10px black;
$mid_shadow: 0px 0px 20px black;