{% load static %}
<a href="{{ app.get_absolute_url }}">
	{{ app.name }}<br>                                                              {# Назва програми #}

{{ app.subcategory }}<br>                                                       {# Категорія #}
{{ app.description }}<br>                                                       {# Описання програми #}
{% if app.image %}

        <img src="{% if app.image %}{{ app.image.url }}{% else %}{{ {% static 'img/no_image.png' %}{% endif %}" width="100" height="70" alt="Image"><br>  {# Зображення #}
{% endif %}
</a>
