{% extends 'index.html' %}
{% load static %}
{% block title %}
Category list
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="categories-wrapper">

{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="big-category">#}
{#                    <div class="big-category__wrapper">#}
{#                        <div class="big-category__img-block">#}
{#                            <img src="../../storage/media/caterory_imgs/security_icon.png" class="big-category__img" alt="error">#}
{#                        </div>#}
{##}
{#                        <div class="big-category__title">#}
{#                            <h2>БЕЗПЕКА</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="big-category__description">#}
{#                        <p>Безкоштовні програми для забезпечення безпеки комп'ютера та даних, що зберігаються на#}
{#                            ньому.</p>#}
{#                    </div>#}
{#                    <div class="small-categories">#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                        <a href="#">Комплексний захист</a>#}
{#                        <a href="#">Антивіруси</a>#}
{#                        <a href="#">Ативірусні сканери</a>#}
{#                        <a href="#">Паролі</a>#}
{#                        <a href="#">Шифрування данних</a>#}
{#                    </div>#}
{#                </div>#}

                {% for category in categories %}
                    {% include 'category.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}