<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href='{% static "css/main_style.min.css" %}'>
</head>
<body>
<div class="page">

    <header>
        {% block header %}
        <div class="header content">
            <div class="header__logo">
                <img src="{% static '/logo_img/logo.png' %}" alt="error">
            </div>
            <div class="header__wrapper">
                <a href="{% url 'home_page' %}" class="header__link header__link_active">Головна</a>
                <a href="{% url 'categories'%}" class="header__link">Категорії</a>
                {% if request.user.is_authenticated %}
                <a href="/admin">Admin</a>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </header>


    <main>
        {% block content %}

        {% endblock %}
    </main>


    <footer>
        {% block footer %}
        <div class="footer content">
            <p class="footer__text"><small>Copyright 2021</small></p>
        </div>
        {% endblock %}
    </footer>
</div>

</body>
</html>